body {
	/* font-family: arial; */
	/* font-family: verdana, sans-serif, arial; */
	font-family: Arial,Verdana,Helvetica,Tahoma,sans-serif;
	font-size: 1.0em;	
}

h2 {
	margin-top: 0px;	
}

table {	
	/* font-family: verdana, sans-serif, arial; */
	font-family: Arial,Verdana,Helvetica,Tahoma,sans-serif;
	font-size: 0.8em;
	border-collapse: collapse;
}

.table-header {
	background-color: navy;
	color: white;
}

.content-container {
	/* position: absolute; */
	/* margin: 10px 0 0 165px;	*/
	/*	width:80%; */
	margin-left: -250; 
	width:80%;
	position:absolute;
	left:15%; 
}

.hideme {
	visibility : hidden;
}

#divisioncontainer {
    display: table;
	border:1px solid black;
	display:table;
	width:100%;
}

#campaignDeatilsContainer {
    display: table;
	border:1px solid black;
	display:table;
	width:80%;
	padding: 15px;
}

.blackBorderBlock {
    display: table;
	border:1px solid black;
	display:table;
	width:80%;
	padding: 15px;
}

.lightBlueBlock {
    display: table;
	border:1px solid black;
	display:table;
	width:80%;
	padding: 15px;
	background-color: #F0F0FB;
}

.lightGreenBlock {
    display: table;
	border:1px solid black;
	display:table;
	width:80%;
	padding: 15px;
	background-color: #E0F8E0;
}

.lightGreyBlock {
    display: table;
	border:1px solid black;
	display:table;
	width:80%;
	padding: 15px;
	background-color: #F2F2F2;
}

.tableheading {
	width:220px;
	background-color:#e6e6e6;
	font-weight:bold;
}

.tablecontent {
	width:220px;
	background-color:#f2f2f2;
}

.timer {
    color:white;
    font-size: 0.6em;
}



/* RPC Button Stuff 

input:hover, .input a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.input a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

input.positive, .input a.positive{
    color:#529214;
}
.input a.positive:hover, input.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.input a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

.input a.negative, input.negative{
    color:#d12f19;
}
.input a.negative:hover, input.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.input a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

*/

/*Grey OUT */

.darkClass {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    /* height: 100%;*/
    width: 80%;
    background-repeat:no-repeat;
    background-position:center;    
}

/* Make Nice Buttons */

input.red {
	background-color: #CECEF6; 
	border:1px solid black;
	/*font-weight: bold; */
	/*font-size: 12px; */
	/*	color: #0000FF;*/
}

input.red:hover {
	background-color: #FFFFFF; 
	border:1px solid black;
	/*font-weight: bold; */
	/*font-size: 12px; */
	/*	color: #0000FF;*/
}

input.btn {
	background-color: #CECEF6; 
	border:1px solid black;
	/*font-weight: bold; */
	/*font-size: 12px; */
	/*	color: #0000FF;*/
}

input.btn:hover {
	background-color: #FFFFFF; 
	border:1px solid black;
	/*font-weight: bold; */
	/*font-size: 12px; */
	/*	color: #0000FF;*/
}

input.mytext {
	font-size: 12px; 
	color: #000011;
	border:0px solid black;
	/*background-color: #E6E6E6; */
}

.menu {
    width: 1024px; 
}

.logoarea {    
    width: 80%; 
}
.logo {     
	background-color : #B9C9FF;
	color : black;
	width: 80%;
	font-family: verdana, sans-serif, arial;
	font-size: 2.0em;
}


/* Table Sorter Stuff */

th.headerSortUp { 
    background-image: url(/img/asc.gif); 
    background-color: #3399FF; 
} 

th.headerSortDown { 
    background-image: url(/img/desc.gif); 
    background-color: #3399FF; 
} 


/* Table Headings */

th {
	background-color:#bdbdbd;
    background-repeat: no-repeat; 
    background-position: center left; 
}

th.headerGrey {
	background-color:#bdbdbd;
    background-repeat: no-repeat; 
    background-position: center left; 
}

th.headerLightGrey {
	background-color:#e6e6e6;
    background-repeat: no-repeat; 
    background-position: center left; 
}

td.grey {
	background-color:#bdbdbd;
    background-repeat: no-repeat; 
    background-position: center left; 
}

td.lightGrey {
	background-color:#e6e6e6;
    background-repeat: no-repeat; 
    background-position: center left; 
}

